extends partials/_layout

block link-plus
    link(rel="stylesheet" href="assets/styles/css/dscountdown.css" type="text/css")
block header
block main
        section.wrapper-frist
            .container
                .row
                    .col-12.col-lg-5
                        .layer
                        ul.list-top-menu#menu-top
                            li
                                span.icon-menu
                            li.item-top-menu
                                a(href="#" title="" class="item-top-link") صفحه اصلی
                            li.item-top-menu
                                a(href="#" title="" class="item-top-link") خرید محصول
                            li.item-top-menu
                                a(href="#" title="" class="item-top-link") ارتباط با ما
                            li
                                img(src="assets/images/content/green.png" alt="" title="" class="w-100 h-100 img-menu")


                .row
                        .col-12.col-lg-8.text-right.wrapper-title-landing-page
                                    h1
                                        span.title-landing-page جشنواره نوروزی ایران کالا
                                    p.desc-landing-page.multi-line-text لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد، کتابهای زیادی در شصت و سه درصد گذشته حال و آینده، شناخت فراوان جامعه و متخصصان را می طلبد، تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی، و فرهنگ پیشرو در زبان فارسی ایجاد کرد، در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها، و شرایط سخت تایپ به پایان رسد و زمان مورد نیاز شامل حروفچینی دستاوردهای اصلی،
                                        | و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.
                                    .wrapper-info-btn
                                        a(href="#" target="" title="" class="info-btn") اطلاعات بیشتر
                                            span.icon-arrow-l

                        .col-12.col-lg-4.d-flex.align-items-center.justify-content-center
                            .img-title
                                img(src="assets/images/content/green.png" alt="" title="" class="w-100 h-100")
        section.wrapper-part-off
            .container
                .col-12.col-lg-12
                    div
                        .wrapper-box-text-off
                            .box-title-off.d-flex.flex-column
                               span.title-off-text-1 پیشنهاد شگفت انگیز
                               span.title-off-text-2 هرساعت یک محصول را با نخفیف هدیه ویژه
                            .box-desc-off
                                .wrapper-img-off
                                    img(src="assets/images/content/product-1.png" title="" alt="" class="h-100")
                                .wrapper-text-off
                                    h2
                                        span.title-product-off روغن ذرت خالص پلی اتیلن مایز 1.8 لیتری
                                    span.price-product-off 100.000
                                        span  تومان
                                    div
                                        span.price-product-real     125.000
                                            span  تومان
                                        span.badge-off    20%
                                a(href="#" title="" target="" class="btn-off") افزودن به سبد خرید
                                     span.icon-cart
        section
            .container
                .row
                    .col-lg-12
                        .wrapper-title-part-product.d-flex.align-items-center.justify-content-between
                            h3.title-part-product
                                span محصولات تخفیف دار
                            a(href="#" title="" target="" class="btn-part-product") مشاهده همه
                .row
                    .col-lg-12
                        .owl-carousel
                            div
                                a(href="#" target="_blank")
                                    .box-product
                                        .wrapper-img-product
                                            img(src="assets/images/content/product-1.png" title="" alt="" class="h-100 img-product")
                                        h4.title-product
                                            span روغن ذرت خالص پلی اتیلن مایز 1.8 لیتری
                                        .price-product-sale
                                            .badge-off    20%
                                            .price-product-off.d-flex.flex-column
                                                span.price-product-off 100.000
                                                    span  تومان
                                                span.price-product-real     125.000
                                                    span  تومان
                            div
                                a(href="#" target="_blank")
                                    .box-product
                                        .wrapper-img-product
                                            img(src="assets/images/content/product-1.png" title="" alt="" class="h-100 img-product")
                                        h4.title-product
                                            span روغن ذرت خالص پلی اتیلن مایز 1.8 لیتری
                                        .price-product-sale
                                            .badge-off    20%
                                            .price-product-off.d-flex.flex-column
                                                span.price-product-off 100.000
                                                    span  تومان
                                                span.price-product-real     125.000
                                                    span  تومان
                            div
                                a(href="#" target="_blank")
                                    .box-product
                                        .wrapper-img-product
                                            img(src="assets/images/content/product-1.png" title="" alt="" class="h-100 img-product")
                                        h4.title-product
                                            span روغن ذرت خالص پلی اتیلن مایز 1.8 لیتری
                                        .price-product-sale
                                            .badge-off    20%
                                            .price-product-off.d-flex.flex-column
                                                span.price-product-off 100.000
                                                    span  تومان
                                                span.price-product-real     125.000
                                                    span  تومان
                            div
                                a(href="#" target="_blank")
                                    .box-product
                                        .wrapper-img-product
                                            img(src="assets/images/content/product-1.png" title="" alt="" class="h-100 img-product")
                                        h4.title-product
                                            span روغن ذرت خالص پلی اتیلن مایز 1.8 لیتری
                                        .price-product-sale
                                            .badge-off    20%
                                            .price-product-off.d-flex.flex-column
                                                span.price-product-off 100.000
                                                    span  تومان
                                                span.price-product-real     125.000
                                                    span  تومان
                            div
                                a(href="#" target="_blank")
                                    .box-product
                                        .wrapper-img-product
                                            img(src="assets/images/content/product-1.png" title="" alt="" class="h-100 img-product")
                                        h4.title-product
                                            span روغن ذرت خالص پلی اتیلن مایز 1.8 لیتری
                                        .price-product-sale
                                            .badge-off    20%
                                            .price-product-off.d-flex.flex-column
                                                span.price-product-off 100.000
                                                    span  تومان
                                                span.price-product-real     125.000
                                                    span  تومان
                            div
                                a(href="#" target="_blank")
                                    .box-product
                                        .wrapper-img-product
                                            img(src="assets/images/content/product-1.png" title="" alt="" class="h-100 img-product")
                                        h4.title-product
                                            span روغن ذرت خالص پلی اتیلن مایز 1.8 لیتری
                                        .price-product-sale
                                            .badge-off    20%
                                            .price-product-off.d-flex.flex-column
                                                span.price-product-off 100.000
                                                    span  تومان
                                                span.price-product-real     125.000
                                                    span  تومان
                            div
                                a(href="#" target="_blank")
                                    .box-product
                                        .wrapper-img-product
                                            img(src="assets/images/content/product-1.png" title="" alt="" class="h-100 img-product")
                                        h4.title-product
                                            span روغن ذرت خالص پلی اتیلن مایز 1.8 لیتری
                                        .price-product-sale
                                            .badge-off    20%
                                            .price-product-off.d-flex.flex-column
                                                span.price-product-off 100.000
                                                    span  تومان
                                                span.price-product-real     125.000
                                                    span  تومان

        section
            .container
                .row
                    .col-lg-12
                        h5.text-right.title-part-f-q
                            span  سوالات متداول
                .row.part-f-q
                    .col-12.col-lg-9
                        .wrapper-box-f-q.text-right
                            ul.list-f-q
                                li.item-f-q(data-toggle="collapse" href="#sub-f-q1"  role="button" aria-expanded="false" aria-controls="collapseExample") چرا باید از ایران کالا خرید کنیم؟
                                    span.icon-down
                                span.desc-item-f-q.collapse#sub-f-q1 چون ایران کالا اولین فروشگاه اینترنتی با ارسال رایگان در همان زمان سفارش است
                                li.item-f-q(data-toggle="collapse" href="#sub-f-q2"  role="button" aria-expanded="false" aria-controls="collapseExample") چرا باید از ایران کالا خرید کنیم؟
                                    span.icon-down
                                span.desc-item-f-q.collapse#sub-f-q2 چون ایران کالا اولین فروشگاه اینترنتی با ارسال رایگان در همان زمان سفارش است
                                li.item-f-q(data-toggle="collapse" href="#sub-f-q3"  role="button" aria-expanded="false" aria-controls="collapseExample") چرا باید از ایران کالا خرید کنیم؟
                                    span.icon-down
                                span.desc-item-f-q.collapse#sub-f-q3 چون ایران کالا اولین فروشگاه اینترنتی با ارسال رایگان در همان زمان سفارش است
                                li.item-f-q(data-toggle="collapse" href="#sub-f-q4"  role="button" aria-expanded="false" aria-controls="collapseExample") چرا باید از ایران کالا خرید کنیم؟
                                    span.icon-down
                                span.desc-item-f-q.collapse#sub-f-q4 چون ایران کالا اولین فروشگاه اینترنتی با ارسال رایگان در همان زمان سفارش است
                    .col-lg-3
                        .wrapper-img-f-q
                            img(src="assets/images/content/question.png" title="" alt="" class=" h-100")
        section.bg-part-time
            .container
                .row
                    .col-lg-12
                        .timer-suggest.d-flex.align-items-center.justify-content-center
                            .countdown
                    .col-lg-12.d-flex.align-items-center.justify-content-center
                        span.text-end-time فرصت باقیمانده تا پایان جشنواره
        section
            .container
                .row
                    .col-lg-3
                    .col-lg-9
                            div.d-flex.align-items-center.justify-content-between
                                h2.title-footer
                                    span ایران کالا
                                ul.list-network
                                    li.item-list-network
                                        a(href="#" title="" class="link-list-network")
                                            span.icon-whatsapp
                                    li.item-list-network
                                        a(href="#" title="" class="link-list-network")
                                            span.icon-telegram
                                    li.item-list-network
                                        a(href="#" title="" class="link-list-network")
                                            span.icon-instagram
                                    li.item-list-network
                                        a(href="#" title="" class="link-list-network")
                                            span.icon-twitter
                            .wrapper-text-footer
                                span.multi-line-text لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد، کتابهای زیادی در شصت و سه درصد گذشته حال و آینده، شناخت فراوان جامعه و متخصصان را می طلبد، تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی، و فرهنگ پیشرو در زبان فارسی ایجاد کرد، در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها، و شرایط سخت تایپ به پایان رسد و زمان مورد نیاز شامل حروفچینی دستاوردهای اصلی،
                                                    | و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.

block scripts
    script(type="text/javascript" src="assets/scripts/js/dscountdown.min.js")








